**/*.ts  linguist-language=TypeScript
**/.eslintrc.js linguist-vendored
**/.prettierrc.js linguist-vendored
**/config.js linguist-vendored
typedoc.js linguist-vendored
**/*.config.js linguist-vendored
scripts/**/* linguist-vendored
